@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');
.signup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.signup {
    flex-basis: 30%;
    background: #4799cb;
    padding: 40px 0;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border-radius: 10px;
}
.signup h2 {
    text-align: center;
    color: #fff;
}
.signup input {
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    margin: 20px auto;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}
.signup button {
    display: block;
    margin: 0 auto 15px auto;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    color: #4799cb;
    padding: 10px 25px;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
}
.signup button:hover {
    color: #fff;
    background: #20323C;
    cursor: pointer;
}
.signup span {
    color: #E7E7E7;
    font-size: 14px;
    
}
.signup a:hover {
    color: #fff;
    cursor: pointer;
}
::placeholder {
    font-family: 'Nunito', sans-serif;
    color:aliceblue;
    opacity: 0.8; /* Firefox */
}