.lectureView-wrapper {
    display: flex;
    padding: 20px 20px;
}
.lectureView-wrapper input, select, textarea {
    display: block;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    font-size: 14px;
    padding: 8px;
    outline: none;
    background: rgba(211,212,216, 0.4);
    border: none;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px #555;
    color: #555;
}

.lectureView-wrapper textarea {
    resize: none;
    width: 100%;
    background: rgba(211,212,216, 0.4);
    border: none;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px #555;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #555;
    outline: none;
    margin: 20px 0 ;
    
}
.lectureView-inner {
    display: flex;
}

.lectureView-wrapper input:not(.lectureView-wrapper input:first-child) {
    margin: 0 0 20px 0 ;
}
.lectureView-wrapper input::placeholder {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #555;
}
.lectureView-wrapper textarea, select {
    margin: 0 0 20px 0 ;
}
.lectureView-wrapper textarea::placeholder {
    font-size: 14px;
    color: #555;
}
.lecture-create__button {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        background: #7BC74E;
        margin: 16px 0 20px 0;
        padding: 8px 16px;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 8px 6px -6px #555;
}


.lecture-block__create {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lecture-block__button {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background: #7BC74E;
    margin: 16px 0 20px 0;
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px #555;
}
.lecture-block {
    width: 100%;
    padding: 0 20px;
}
.lecture-buttons{
    
    width: 80%;
    font-size: 14px;
    display: flex;
}
.lecture-buttons button {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background: #7BC74E;
    margin: 16px 0 20px 0;
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px #555;
}
.lecture-buttons button:last-child {
    margin-left: 10px;
    background: #F1CDB3;
}

.region.lecture-block {
    flex-basis: 100%;
}

.lecture-help {
    margin-bottom: 20px;
}